
<div class="bodyBg">




      <!-- <div class="header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
        <img class="logo"
          src="../../assets/images/Lock-orange.png"
        />
        <span class="title" style="font-size: 30px;margin-left: 12px; color:blue;">Secure coding</span>
      </div>
    </div>
  </div>
      </div> -->
      <app-header></app-header>
      
      <div class="container-fluid w-500">
  <div class="row">
    <div class="col-lg-12">
      <div >
        <!-- <div class="card-header card-header-primary" style="padding:0;text-align:center; color:#fff;margin:0;border-top-right-radius: 10px;
    border-top-left-radius: 10px;">
          <h3 style="margin: 10px 0 10px;font-weight: 600;">Login</h3>
        </div> -->
        <div>
>
          <form class="card shadow border-13px" role="form" #f="ngForm" (ngSubmit)="login(login1)">
            <div class="sign" >
              <span><b style="margin-left: 156px;">Sign in.</b> </span>
            </div>
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <!-- <span class="input-group-text">CLIENT iD</span> -->
                </div>
                <input class="form-control" placeholder="Client ID" name="ClientID" [(ngModel)]="login1.ClientID"
                  type="text" />
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <!-- <span class="input-group-text">
                    UserName</span> -->
                </div>
                <input class="form-control"  placeholder="User Name" name="Username" [(ngModel)]="login1.Username"
                  type="text" />
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <!-- <span class="input-group-text"></span> -->
                  <!-- </span> -->

                </div>
                <input class="form-control"  placeholder="Password" name="Password" [(ngModel)]="login1.Password"
                [type]="show ? 'text' : 'password'" />
                  <!-- <button (click)="ShowPassword()" class="button"><img src="../../assets/images/ShowPassword.png" class="imge"></button> -->
                  <span (click)="ShowPassword()" ><img src="../../assets/images/ShowPassword.png" class="showPass"></span>                  
              </div>
            </div>
            <!-- <div class="text-center">
              <input type="checkbox" class="btn btn-primary my-4" value="Sign in" style="width:100%" name="Remember me on this computer" />
            </div> -->
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                  
                </div>
                
                <input class="checkeds" placeholder="Password" name="Password" [(ngModel)]="login1.Existinguser"
                type="checkbox" /><span class="inputbox"><b>Rember me on this computer</b></span>
                </div>
            <div class="text-center">
              <input type="submit"  
              class="btn btn-primary my-4" id="" value="Sign in" style="width:55%"  />
            </div>
            <div class="alert alert-danger" *ngIf="submitted || error">
              Username or password is incorrect
            </div>
            <!-- <div class="alert alert-danger" *ngIf="error">
           {{error}}
            </div> -->
            <!-- <div class="forgotpass">
              <a href="#" style="color: #84B13f;"><span> Forgot your UserName or Password?</span></a>
              </div> -->
          </form>
        </div>
      </div>
      
    </div>
  </div>
 
</div>
<div class="forgotpass">
  <a href="#" style="color: #84B13f;"><span> Forgot your UserName or Password?</span></a>
  </div>
<!-- <div class="copyright">
  <p> &#xA9; 2020 Bridgewing Technologies. <a href="#">All right reserved. </a>| <a href="#">Terms of Use privecy Policy</a> </p>
  </div> --><app-footer></app-footer>
</div>