<div class="header">
  <!-- <img class="logo1"
  src="../../../assets/images/bars.png"
/> -->
  
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
    <img class="logo"
      src=".././../../assets/images/Lock-orange.png"
    />
    <!-- <span ><img src="../../../assets/images/Logout.png" class="logout"></span>  -->
    <!-- <img class="logo1"
    src="../../../assets/images/bars.png"
  /> -->
    <span class="title" style="font-size: 30px;margin-left: 12px;;"><span class="done">Secure</span><span class="codes">Coding</span><i class="fa fa-bars" id="bar"></i></span>
    
  </div>
</div>
</div>
  </div>
