<!-- <div>
  <div class="card" style="width: 100rem;">
    <div class="card-body">
      <h5 class="card-title">Patients 98</h5>

      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="patientCard">
              <div class="card" style="width: 10rem;">
                <div class="card-body">
                  <div>
                    <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                  </div>
                  <span>Patient Name</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div> -->

<!-- <div class="row">
    <div class="col-9">.col-9</div>
    <div class="col-4">.col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.</div>
    <div class="col-6">.col-6<br>Subsequent columns continue along the new line.</div>
  </div> -->


  
  <app-home> </app-home>


  <div>
    <div class="card" style="width: 85.2rem;">
      <div class="card-body">
        <h5 class="card-title">Patients 98</h5>
        <div class="container">
  
          <div class="row">
            <div class="col-sm">
              <div class="patientCard">
                <div class="card">
                  <div class="card-body">
                    <div>
                      <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                    </div>
                    <span>Patient Name</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="patientCard">
                <div class="card">
                  <div class="card-body">
                    <div>
                      <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                    </div>
                    <span>Patient Name</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="patientCard">
                <div class="card">
                  <div class="card-body">
                    <div>
                      <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                    </div>
                    <span>Patient Name</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="patientCard">
                <div class="card">
                  <div class="card-body">
                    <div>
                      <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                    </div>
                    <span>Patient Name</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="patientCard">
                <div class="card">
                  <div class="card-body">
                    <div>
                      <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                    </div>
                    <span>Patient Name</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="patientCard">
                <div class="card">
                  <div class="card-body">
                    <div>
                      <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                    </div>
                    <span>Patient Name</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="patientCard">
                <div class="card">
                  <div class="card-body">
                    <div>
                      <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                    </div>
                    <span>Patient Name</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="patientCard">
                <div class="card">
                  <div class="card-body">
                    <div>
                      <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                    </div>
                    <span>Patient Name</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="patientCard">
                <div class="card">
                  <div class="card-body">
                    <div>
                      <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                    </div>
                    <span>Patient Name</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
  
          <div class="row">
              <div class="col-sm">
                <div class="patientCard">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                      </div>
                      <span>Patient Name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="patientCard">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                      </div>
                      <span>Patient Name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="patientCard">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                      </div>
                      <span>Patient Name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="patientCard">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                      </div>
                      <span>Patient Name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="patientCard">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                      </div>
                      <span>Patient Name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="patientCard">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                      </div>
                      <span>Patient Name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="patientCard">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                      </div>
                      <span>Patient Name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="patientCard">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                      </div>
                      <span>Patient Name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="patientCard">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                      </div>
                      <span>Patient Name</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <div class="patientCard">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                      </div>
                      <span>Patient Name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="patientCard">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                      </div>
                      <span>Patient Name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="patientCard">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                      </div>
                      <span>Patient Name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="patientCard">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                      </div>
                      <span>Patient Name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="patientCard">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                      </div>
                      <span>Patient Name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="patientCard">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                      </div>
                      <span>Patient Name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="patientCard">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                      </div>
                      <span>Patient Name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="patientCard">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                      </div>
                      <span>Patient Name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="patientCard">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                      </div>
                      <span>Patient Name</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <div class="patientCard">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                      </div>
                      <span>Patient Name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="patientCard">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                      </div>
                      <span>Patient Name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="patientCard">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                      </div>
                      <span>Patient Name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="patientCard">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                      </div>
                      <span>Patient Name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="patientCard">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                      </div>
                      <span>Patient Name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="patientCard">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                      </div>
                      <span>Patient Name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="patientCard">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                      </div>
                      <span>Patient Name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="patientCard">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                      </div>
                      <span>Patient Name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="patientCard">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                      </div>
                      <span>Patient Name</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <div class="patientCard">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                      </div>
                      <span>Patient Name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="patientCard">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                      </div>
                      <span>Patient Name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="patientCard">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                      </div>
                      <span>Patient Name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="patientCard">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                      </div>
                      <span>Patient Name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="patientCard">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                      </div>
                      <span>Patient Name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="patientCard">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                      </div>
                      <span>Patient Name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="patientCard">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                      </div>
                      <span>Patient Name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="patientCard">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                      </div>
                      <span>Patient Name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="patientCard">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                      </div>
                      <span>Patient Name</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  
  <!-- <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="patientCard">
              <div class="card" >
                <div class="card-body">
                  <div>
                    <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                  </div>
                  <span>Patient Name</span>
                </div>
              </div>
            </div>
        </div>
        <div class="col-sm">
          <div class="patientCard">
              <div class="card" >
                <div class="card-body">
                  <div>
                    <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                  </div>
                  <span>Patient Name</span>
                </div>
              </div>
            </div>
        </div>
        <div class="col-sm">
          <div class="patientCard">
              <div class="card" >
                <div class="card-body">
                  <div>
                    <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                  </div>
                  <span>Patient Name</span>
                </div>
              </div>
            </div>
        </div>
        <div class="col-sm">
          <div class="patientCard">
              <div class="card" >
                <div class="card-body">
                  <div>
                    <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                  </div>
                  <span>Patient Name</span>
                </div>
              </div>
            </div>
        </div>
        <div class="col-sm">
          <div class="patientCard">
              <div class="card" >
                <div class="card-body">
                  <div>
                    <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                  </div>
                  <span>Patient Name</span>
                </div>
              </div>
            </div>
        </div>
        <div class="col-sm">
          <div class="patientCard">
              <div class="card">
                <div class="card-body">
                  <div>
                    <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                  </div>
                  <span>Patient Name</span>
                </div>
              </div>
            </div>
        </div>
        <div class="col-sm">
          <div class="patientCard">
              <div class="card" >
                <div class="card-body">
                  <div>
                    <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                  </div>
                  <span>Patient Name</span>
                </div>
              </div>
            </div>
        </div>
        <div class="col-sm">
          <div class="patientCard">
              <div class="card">
                <div class="card-body">
                  <div>
                    <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                  </div>
                  <span>Patient Name</span>
                </div>
              </div>
            </div>
        </div>
        <div class="col-sm">
          <div class="patientCard">
              <div class="card" >
                <div class="card-body">
                  <div>
                    <img src="../../assets/images/Patient-blue.png" class="card-img-top" alt="...">
                  </div>
                  <span>Patient Name</span>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div> -->
  