<app-header>
 
</app-header>
<span ><img src="../../assets/images/Logout.png" class="logout"></span>
<nav class="navbar navbar-light" style="background-color:#f8f9fa;">
  <span><img src="../../assets/images/Add-green.png" class="logo3"></span>
  <span class="logout()"><img src="../../assets/images/Home.png" class="logo4"></span>    
    <!-- Navbar content -->
    <div class="navbar-brand" href="#"style="height:51px; color:#84B13f"> Add New Pateint</div>
  </nav>
  <nav class="navbar navbar-light" style="background-color:#1579e4">
    <!-- Navbar content -->
    <div
     class="navbar-brand" href="#" style="height: 51px"></div>
    <div class="searchbar">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" id="search" placeholder="Search" aria-label="Search">
        <span><img src="../../assets/images/Search.png" class="logo2"></span>        
      </form>
    </div>
  </nav>
  <!-- <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
              <div class="card shadow border-13px">
                <app-addPatient></app-addPatient>
                </div>
</mat-paginator> -->
  
  